.stats-box {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    display: inline-block;
    text-align: center;
    margin: 10px;
    width: 300px;
    
  }


  @mixin hover {
    &:hover {
      background-color:#EB455F
  
    }
  }


   .button {
    background-color: #f44336;
    color: white;
  
    
    border: none;
    
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    // display: flex;
    // align-items: center;
    font-size: 16px;
    @include hover;
  }
  

  @media screen and (max-width: 760px){
    .stats-box{
        width: 80%;
        justify-content: center;
    }
    .button{
        width: 60%;
    }
   
  }
  
  @media screen and (max-width: 480px){
    .stats-box{
        height: auto;
        justify-content: center;
    }
    .button{
        width: auto;
    }
    
  }